<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <form #carForm="ngForm" class="form">
      <h4>Ajouter une voiture</h4>

      <div class="form-group">
        <input [(ngModel)]="car.user_id" name="user_id" type="text" required placeholder="user_id" class="form-control" />
      </div>
      <div class="form-group">
        <input [(ngModel)]="car.brand" name="brand" type="text" required placeholder="marque" class="form-control" />
      </div>
      <div class="form-group">
        <input [(ngModel)]="car.modele" name="modele" type="text" required placeholder="modele" class="form-control" />
      </div>

      <button [disabled]="!carForm.form.valid" (click)="createCar()" class="btn btn-primary">Ajouter une voiture</button>
    </form>
    <hr />
  </div>
</div>
