<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>List User</h2>
    <div *ngFor="let user of users;">
        <table class="table table-bordered">
          <thead class="panel panel-default animated">
            <tr class="panel-heading">
              <td>Client : {{ user.lastName }} {{ user.firstName }}</td>
              <td>Téléphone : {{ user.phone}}</td>
              <td colspan="3">email : {{ user.email }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Peugeot</td>
              <td>206 HDI</td>
              <td>Moteur Diesel</td>
              <td>2005</td>
              <td><a href="#">détail voiture</a></td>
            </tr>
            <tr>
              <td>Peugeot</td>
              <td>206 HDI</td>
              <td>Moteur Diesel</td>
              <td>2005</td>
              <td><a href="#">détail voiture</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

