<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>List Car</h2>
    <div *ngFor="let car of cars;">
      <div class="panel panel-default animated">
        <div class="panel-heading">
          <span class="text-left">{{ car.brand }} {{ car.modele }}</span>
        </div>
        <div class="panel-body">
          <p>Téléphone : {{ car.brand}}</p>
          <p>email : {{ car.brand }}</p>
        </div>
        <div class="panel-default">
          <p><a href="#">détail voiture</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
