<div class="row">
  <div class="col-md-offset-1 col-md-10" >
    <nav role="navigation" class="navigation">
      <ul class="nav nav-pills">
        <li class="active"><a [routerLink]="['/']" class="brand-logo ">home</a></li>
        <li routerLinkActive="active"><a [routerLink]="[ '/user'] ">Client</a></li>
        <li routerLinkActive="active"><a [routerLink]="[ '/car'] ">Voiture</a></li>
        <li routerLinkActive="active"><a [routerLink]="[ '/work'] ">Travaux</a></li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>

